.cart {
    width: 1000px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap:30px;
}

.cart__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {

    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #000000;
}
.cart__clear-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.clear {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #B6B6B6;
}

.cart-element {
    padding-top: 30px;
    border-top: 1px solid #F4F4F4; ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-element__title-container {
    display: flex;
    gap: 5px;
    align-items: center;
}
.cart-element-img {
    width: 80px;
    height: 80px;
}
.cart-element__title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.title-first {
    font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
/* identical to box height */

letter-spacing: 0.01em;

color: #000000;
}
.title-second {
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.01em;

color: #8D8D8D;
}
.cart-switcher {
    display: flex;
    gap: 10px;
    align-items: center;
}
.switch {
    width: 35px;
    height: 35px;
    border: 2px solid #FE5F1E;
    border-radius: 70px;
    color: #FE5F1E;
    font-weight: 400;
    font-size: 18px;
}
.switch-number {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #000000;
}
.cart-element__price {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.01em;

    color: #000000;
}
.cart-element__delete {
    border: 2px solid #D7D7D7;
    border-radius: 70px;
    width: 35px;
    height: 35px;
    color: #D7D7D7;
    font-weight: 400;
    font-size: 18px;
}