.product {
    margin-top: 30px;
}

.product-inf {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 30px;
}

.product__container {
    display: flex;
    gap: 70px;
    
    flex-wrap: wrap;
}

.product__element {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    height: max-content;
    margin-bottom: 65px;
}

.product__element-img {
    width: 260px;
    height: 260px;
}

.product__element-name {
    font-family: 'montserrat';
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}


.element__filters-container {
    background: #F3F3F3;
    border-radius: 10px;
    padding: 10px 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: max-content;
}
.filter__container {
    display: flex;
    gap: 5px;
}
.filter__button_active {
    padding: 10px 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.015em;

    color: #2C2C2C;
}
.filter__button {
    padding: 10px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.015em;

    color: #2C2C2C;
}


.product__price-and-button_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */

    letter-spacing: 0.015em;

    color: #000000;
}

.product__btn {
    padding: 10px 15px;
    background: #FFFFFF;
    border: 1px solid #EB5A1E;
    color: #EB5A1E;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    transition: all 0.2s ease;
}

.product__btn:hover {
    background:  #EB5A1E;
    color: #ffffff;
    border-radius: 30px;
}